
//
// Sort symbol used on Requests page
//

.requests-sort-symbol {
  position: absolute;
  left: calc(100% + .25em);
  bottom: 0;
  font-size: .625em; // 10px
}

// Style tables in article content
.#{$namespace}content {

  table:not([class*="table"]) {
    @extend .table;
    max-height: 20rem;
    overflow-y: scroll;
    border: none;
  }
}
