
@mixin row {
  @include flex();
  @include flex-wrap();
  @include flex-grow();
  margin-right: ($column-gap / -2);
  margin-left: ($column-gap / -2);
}

@mixin row-variant($grid-gutter) {
  margin-right: ($grid-gutter / -2);
  margin-left: ($grid-gutter / -2);

  > [class*="col"] {
    padding-right: ($grid-gutter / 2);
    padding-left: ($grid-gutter / 2);
  }
}
